* {
  font-family: "Bona Nova", serif;
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

.backdiv {
  background-image: url(assets/smoke.jpg);
  background-size: cover;
}

.navbarr a {
  color: inherit;
  text-decoration: none;
}
.navbarr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:5rem;
  font-family: "Bona Nova";
  color: white;
  text-shadow: rgba(255, 255, 255, 0.315) 0.1em 0.1em 0.2em;

}

.navbarr h1 {
  font-family: "Merriweather", serif;
  margin-left: 2rem;
}

.menuu {
  display: flex;
  margin-right: 2rem;
}

.navitem {
  margin-left: 2rem;
  font-family: "Bona Nova", serif;
  text-decoration: none;
  color: inherit;
}

.navitem:hover {
  color: grey;
}

.carrossel-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 98vh;
  
  color:white;
  
}

.carrossel-container h1 {
  font-size: 6rem;
  font-family: "Bona Nova";
  font-style: italic;
  text-shadow: rgba(255, 255, 255, 0.315) 0.1em 0.1em 0.2em;
}

.carrossel-container h2 {
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  font-family: italic;
  text-shadow: rgba(255, 255, 255, 0.315) 0.1em 0.1em 0.2em;

}

.botoes a {
  width: 13rem;
  margin: 2rem;
  text-shadow: black 0.1em 0.1em 0.2em;

}

@media only screen and (max-width: 550px) {
  .botoes a {
    width: 10rem;
    margin: 1rem;
  }
  .carrossel-container h1{
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
  }
  .carrossel-container h2 {
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
  }
}

.personagens-principais {
  text-align: center;
  margin-bottom: 6rem;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 53%, rgba(210,210,210,1) 100%);
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personagens-principais h2 {
  font-size: 2.5rem;
  
}

.personagens-container-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  
}
.texto-personagens {
  width: 36rem;
  height: 35rem;
  flex-direction: column;
}

.imagens-personagens {
  width: 55rem;
  height: 55rem;
  border: 1px solid rgba(207, 204, 1, 0.466);
  border-radius: 500rem;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition:1s; */
  margin-bottom: 1rem;
}

#personagens-jogadores {
  width: 115%;
  height: 115%;
  object-fit: contain;
}

@media only screen and (max-height: 800px) {
  .imagens-personagens {
    width: 35rem;
    height: 35rem;
  }
  .texto-personagens {
    width: 30rem;
    height: 30rem;
    flex-direction: column;
  }
}

@media only screen and (max-width: 620px) {
  .personagens-container-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .imagens-personagens {
    width: 27rem;
    height: 27rem;
  }
  .texto-personagens {
    width: 27rem;
    height: 27rem;
  }
}

.footer {
  margin-top: 10rem;
}

.cidades h2 {
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 15rem;
  font-size: 2.5rem;
}

.container-city {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-bottom: 7rem;
}

.inverter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.container-city h2 {
  width: 40vw;
  height: 10vh;
}

.img-city {
  width: 50rem;
  height: 50rem;
  border-radius: 50rem;
}

@media only screen and (max-width: 1333px) {
  .inverter {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 830px) {
  .img-city {
    width: 40rem;
    height: 40rem;
  }
  .inverter {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 640px) {
  .img-city {
    width: 28rem;
    height: 28rem;
  }

  .inverter {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 460px) {
  .img-city {
    width: 22rem;
    height: 22rem;
  }
  .inverter {
    flex-direction: column-reverse;
  }
}

.personagens-personagens {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.personagens-personagens h2 {
  font-size: 2.5rem;
}

.personagens-containers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.personagem-container-item {
  width: 17rem;
  height: 17rem;
  margin: 2rem;
  border-radius: 300rem;
  border: 1px solid rgb(228, 223, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.personagem-container-item:hover {
  border: 1px solid rgba(0, 0, 0, 0.322);
}

.pergonagem-container-image {
  width: 19rem;
  height: 19rem;
  transition: 0.5s;
  object-fit: contain;
}

.pergonagem-container-image:hover {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  transition: 0.5s;
}

.botoes-personagens {
  display: flex;
  justify-content: center;
}

.personagens-botoes {
  margin: 0px 0.4rem;
  width: 10px;
}
